@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body,
h1,
p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
    color: #fff;
    display: flex;
    align-items: center;
    height: 15%;
    box-shadow: 0px 4px 50px 0px rgb(195, 194, 194);
}

.menu-icon {
    margin-left: 4%;
    margin-top: 3%;
}

.akun {
    color: #000000;
    font-size: 17px;
    line-height: 0;
    margin-left: 10px;
    margin-top: 43px;
}

.space {
    color: #000000;
    font-size: 35px;
    margin-left: 30px;
    margin-top: 37px;
}

.bar {
    border-radius: 3px;
    width: 24px;
    height: 3px;
    background-color: #000000;
    margin: 3px 0;
}

.logo img {
    width: 55px;
    height: auto;
    margin-top: 25px;
    margin-left: 10px;
}

.title {
    color: #000000;
    margin-left: 3px;
    margin-top: 38px;
    font-weight: bolder;
    line-height: 1;
}

.navbar {
    margin-top: 45px;
    margin-left: 355px;
}

.navbar ul {
    list-style: none;
    display: flex;
    font-weight: normal;
    font-size: 70%;
    letter-spacing: 1.5px;
}

.navbar li {
    display: inline;
    color: #000000;
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.user-actions {
    display: flex;
    margin-right: 1066px;
    margin-top: 2%;
}

.uname {
    margin-right: 23px;
    color: #000000;
    font-size: 15px;
    margin-top: 2%;
}

.pfp {
    margin-top: 15%;
    margin-left: 2999%;
    width: 35px;
    height: 35px;
}

.author {
    display: flex;
    margin: 5% 5%;
}

.author img {
    width: 40px;
    height: 40px;
}

.author h4 {
    color: #767676;
    margin-top: 9px;
    margin-left: 20px;
}

.react img {
    width: 20;
    height: 20;
    margin-left: 12px;
}

.react {
    margin: 5px 30px;
}

.main h1 {
    margin: -4% 5%;
}

.main h4 {
    color: #767676;
    margin: 5% 5%;
}

.main img {
    margin: -3% 5%;
    width: 65%;
    height: 60%;
}

.main p {
    font-weight: bold;
    margin: 5% 5%;
}

.box {
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 10px;
}